.top-container {
    background-color: #E4F9f5;
    border: 50px;
    border-color: rgb(25, 25, 24);
    padding-top: 70px;
}
.middle-container {
    padding: 80px;
}
.bottom-container {
    background-color: #66BFBF;
}

body {
    padding: 40px;
    background-color:#b9e3df ,border-color: rgb(67, 87, 105);
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.buttonrow{
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 5px;
border-bottom: 5px;
}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0;
    color: #66BFBF;
    line-height:2;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;

}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #035373;
    line-height:2;
}
.cloud2 {
    display: inline-block;
    position: absolute;
    left: 250px;
    bottom: 250px;
}
.cloud1 {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-left: 800px;
}
.Under {
    text-decoration: underline;
}
a {
    color: #3C6255;
    text-decoration: none;
    margin: 10px;

}

.btn {
    background: #11f2ee;
    background-image: -webkit-linear-gradient(top, #11f2ee, #29544e);
    background-image: -moz-linear-gradient(top, #11f2ee, #29544e);
    background-image: -ms-linear-gradient(top, #11f2ee, #29544e);
    background-image: -o-linear-gradient(top, #11f2ee, #29544e);
    background-image: linear-gradient(to bottom, #11f2ee, #29544e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #174663;
    background-image: -webkit-linear-gradient(top, #174663, #34d942);
    background-image: -moz-linear-gradient(top, #174663, #34d942);
    background-image: -ms-linear-gradient(top, #174663, #34d942);
    background-image: -o-linear-gradient(top, #174663, #34d942);
    background-image: linear-gradient(to bottom, #174663, #34d942);
    text-decoration: none;
}
.footer-link {
    padding: 20px;

}
p {
    color: #18031f;
    line-height: 2;
}

.Lastline {
    color: #EAF6F6;
    font-size: 0.75rem;
}
.skill-row {
    padding: auto;
}
table img {
    height: 18vw !important;
    width: 18vw !important;
}
table {
    width: 100%;
}
.education table {
    text-align: left;
    line-height: 2;

}
strong {
    color: #3C6255;
}
.Rewards {
    text-align: left;
    background-color: #F6FBF4;
    line-height: 2.5;


}
.certifications {
    background-color: #F6FBF4;
    text-align: left;
    line-height: 2.5;

}
.experience {
    text-align: left;
    background-color: #F6FBF4;
    line-height: 2.5;
}
.volunteer {
    background-color: #F6FBF4;
    text-align: left;
    line-height: 2.5;
}

hr {
    border: dotted #4694946e 10px;
    border-bottom: none;
    width: 8%;
    margin: 100px auto;
}

.Edudetails {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #910000);
    background-image: -moz-linear-gradient(top, #000000, #910000);
    background-image: -ms-linear-gradient(top, #000000, #910000);
    background-image: -o-linear-gradient(top, #000000, #910000);
    background-image: linear-gradient(to bottom, #000000, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
    
}

.Edudetails:hover {
    background: #2b6b03;
    background-image: -webkit-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -moz-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -ms-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -o-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: linear-gradient(to bottom, #2b6b03, #e9ebe8);
    text-decoration: none;
}

.skilljump {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #910000);
    background-image: -moz-linear-gradient(top, #000000, #910000);
    background-image: -ms-linear-gradient(top, #000000, #910000);
    background-image: -o-linear-gradient(top, #000000, #910000);
    background-image: linear-gradient(to bottom, #000000, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
}

.skilljump:hover {
    background: #2b6b03;
    background-image: -webkit-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -moz-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -ms-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -o-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: linear-gradient(to bottom, #2b6b03, #e9ebe8);
    text-decoration: none;
}

.Hobbiesjump {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #910000);
    background-image: -moz-linear-gradient(top, #000000, #910000);
    background-image: -ms-linear-gradient(top, #000000, #910000);
    background-image: -o-linear-gradient(top, #000000, #910000);
    background-image: linear-gradient(to bottom, #000000, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
}

.Hobbiesjump:hover {
    background: #2b6b03;
    background-image: -webkit-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -moz-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -ms-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -o-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: linear-gradient(to bottom, #2b6b03, #e9ebe8);
    text-decoration: none;
}
.certification {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #910000);
    background-image: -moz-linear-gradient(top, #000000, #910000);
    background-image: -ms-linear-gradient(top, #000000, #910000);
    background-image: -o-linear-gradient(top, #000000, #910000);
    background-image: linear-gradient(to bottom, #000000, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
}

.certification:hover {
    background: #2b6b03;
    background-image: -webkit-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -moz-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -ms-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -o-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: linear-gradient(to bottom, #2b6b03, #e9ebe8);
    text-decoration: none;
}

.workex {

    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #910000);
    background-image: -moz-linear-gradient(top, #000000, #910000);
    background-image: -ms-linear-gradient(top, #000000, #910000);
    background-image: -o-linear-gradient(top, #000000, #910000);
    background-image: linear-gradient(to bottom, #000000, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
}

.workex:hover {
    background: #2b6b03;
    background-image: -webkit-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -moz-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -ms-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -o-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: linear-gradient(to bottom, #2b6b03, #e9ebe8);
    text-decoration: none;
}
.volu {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #910000);
    background-image: -moz-linear-gradient(top, #000000, #910000);
    background-image: -ms-linear-gradient(top, #000000, #910000);
    background-image: -o-linear-gradient(top, #000000, #910000);
    background-image: linear-gradient(to bottom, #000000, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
}

.volu:hover {
    background: #2b6b03;
    background-image: -webkit-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -moz-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -ms-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -o-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: linear-gradient(to bottom, #2b6b03, #e9ebe8);
    text-decoration: none;
}
.hreward {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #910000);
    background-image: -moz-linear-gradient(top, #000000, #910000);
    background-image: -ms-linear-gradient(top, #000000, #910000);
    background-image: -o-linear-gradient(top, #000000, #910000);
    background-image: linear-gradient(to bottom, #000000, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
}

.hreward:hover {
    background: #2b6b03;
    background-image: -webkit-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -moz-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -ms-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: -o-linear-gradient(top, #2b6b03, #e9ebe8);
    background-image: linear-gradient(to bottom, #2b6b03, #e9ebe8);
    text-decoration: none;
}

.goup {
    background: #edb151;
    background-image: -webkit-linear-gradient(top, #edb151, #910000);
    background-image: -moz-linear-gradient(top, #edb151, #910000);
    background-image: -ms-linear-gradient(top, #edb151, #910000);
    background-image: -o-linear-gradient(top, #edb151, #910000);
    background-image: linear-gradient(to bottom, #edb151, #910000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;

}

.goup:hover {
    background: #17baa1;
    background-image: -webkit-linear-gradient(top, #17baa1, #e9ebe8);
    background-image: -moz-linear-gradient(top, #17baa1, #e9ebe8);
    background-image: -ms-linear-gradient(top, #17baa1, #e9ebe8);
    background-image: -o-linear-gradient(top, #17baa1, #e9ebe8);
    background-image: linear-gradient(to bottom, #17baa1, #e9ebe8);
    text-decoration: none;
}
.v2 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v2:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }
  .v3 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v3:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }

  .v4 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v4:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }

  .v5 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v5:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }

  .v6 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v6:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }

  .v7 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v7:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }
  .v8 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v8:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }

  .v9 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v9:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }

  .v10 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v10:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }
  .v11{
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v11:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }
  .v12 {
    background: #d9347e;
    background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
    background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
    background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
    background-image: -o-linear-gradient(top, #d9347e, #2980b9);
    background-image: linear-gradient(to bottom, #d9347e, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 9px 15px 22px #666666;
    -webkit-box-shadow: 7px 1px 3px #abd9eb;
    -moz-box-shadow: 7px 1px 3px #abd9eb;
    box-shadow: 7px 1px 3px #abd9eb;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .v12:hover {
    background: #e6da35;
    background-image: -webkit-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -moz-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -ms-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: -o-linear-gradient(top, #e6da35, #0eeb2b);
    background-image: linear-gradient(to bottom, #e6da35, #0eeb2b);
    text-decoration: none;
  }
  .goup{
    position: fixed;
    bottom: 5px;
    right: 8px;
}
html{
  scroll-behavior: smooth;
  }
  a:hover
  {
    color:#F94A29;
  }
